.datePicker {
  input,
  textarea {
    color: var(--tg-theme-text-color) !important;
  }

  svg {
    fill: var(--tg-theme-subtitle-text-color) !important;
  }

  *::before {
    border-bottom-color: var(--tg-theme-subtitle-text-color) !important;
  }

  *::after {
    border-bottom-color: var(--tg-theme-text-color) !important;
  }

  label {
    color: var(--tg-theme-subtitle-text-color) !important;
  }
}
